{{> header}}
{{> navbar}}

<div class="row">

	<div class="col-8">
		<h1>León</h1>
	</div>

	<div class="col-4">
		<img src="assets/img/656153.jpg" alt="Una imagen de internet" class="img-thumbnail">
	</div>
</div>

{{> footer}}